In [20]:
from jupyter_dash import JupyterDash

In [21]:
import dash_bootstrap_components as dbc
from dash import Dash, dcc, html, Input, Output
import pandas as pd

import os

In [23]:
JupyterDash.infer_jupyter_proxy_config()

In [24]:
external_stylesheets = [dbc.themes.BOOTSTRAP]
app = JupyterDash(__name__,external_stylesheets=external_stylesheets)
server = app.server

In [25]:
os.listdir('data')

poverty_data = pd.read_csv('data/PovStatsData.csv')
poverty_data.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1974,1975,1976,1977,1978,1979,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 50
0,East Asia & Pacific,EAS,Annualized growth in per capita real survey me...,SI.SPR.PC40.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,East Asia & Pacific,EAS,Annualized growth in per capita real survey me...,SI.SPR.PT10.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,East Asia & Pacific,EAS,Annualized growth in per capita real survey me...,SI.SPR.PT60.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
app.layout = html.Div([
    html.H1(children='Hello, World',
           style={'color':'blue',
                 'fontSize':'40px',
                 'marginLeft':'20%'}),
    html.H2('World Bank'),z
    dbc.Tabs([
        dbc.Tab([
            html.Ul([
                html.Li('Economies: 170'),
                html.Li('Coverage: 1974-2019'),
                html.Li('Updates: Quarterly'),
                html.Li('Last Update: March'),
                html.Li([
                    'Source: ',
                    html.A('https://datacatalog.worldbank.org')
        ])
        ])
            
    ],label='Key Facts'),
        dbc.Tab([
                html.Ul([
                    html.Br(),
                    html.Li('Books1'),
                    html.Li('Books2')
                ])
            ],label='Project Info')

    ])
])

In [27]:
app.run_server(mode="inline",height=600, width='80%')